# Python
__pycache__/
*.py[cod]
venv/

# Distribution / packaging
build/
dist/
.temp/
.cache/
.cache/clangd/
.cache/clangd/index/
.cache/clangd/index/*
*.egg-info/

# IDE / editor folders
.vscode/
.idea/
*.suo
*.user
*.directory

# macOS
.DS_Store

# Logs
*.log
