# Python virtualenv
venv/

# Byte-compiled / cache
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# IDE / editor folders
.vscode/
.idea/
*.suo
*.user
*.directory

# macOS
.DS_Store

# Logs
*.log
